<div class="container">

    <mat-card class="form-card" [formGroup]="signInForm">
        <mat-card-title>Connection</mat-card-title>
        <div class="form-row">
            <mat-form-field appearance="fill">
                <mat-label>Pseudo</mat-label>
                <input matInput formControlName="Name" placeholder="Pseudo">
                <mat-error>{{getErrorName()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Mot de passe</mat-label>
                <input matInput  formControlName="Password"  [type]="hide ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Cacher le mot de passe'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <mat-error>{{getErrorPassword()}}</mat-error>
            </mat-form-field>
        </div>
        <br>
        <button mat-raised-button color="primary"  type="submit" (click)="onSubmit()" [disabled]="!signInForm.valid">
            Envoyer
        </button>
    </mat-card>
    <br>
    <button mat-button [routerLink]="['/registration']" color="primary">Pas encore enregistré? Enregistrez-vous!</button>
</div>