<mat-drawer-container class="sidenav-container">
    <mat-drawer #drawer  mode="over" closed>
      <div class="sidenav-links-container">
        <span class="title">FreshBread</span>
        <span class="spacer"></span>
        <span class="sidenav-link">
          <a mat-button [routerLink]="['/home']">Home</a>
        </span>
        <span class="sidenav-link" *ngIf="!isConnected">
          <a mat-button  [routerLink]="['/registration']">Enregistrement</a>
        </span>
        <span class="sidenav-link" *ngIf="!isConnected">
          <a mat-button  [routerLink]="['/signIn']">Connection</a>
        </span>
        <span class="sidenav-link" *ngIf="isConnected">
          <a mat-button [routerLink]="['/profile']">Mon profil</a>
        </span>
      </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary" class="navbar">
            <button mat-icon-button (click)="drawer.toggle()" id="drawerToggle-Icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="title">StudCloud</span>
            <span class="spacer"></span>
            <span class="navbar-link"><a  mat-button [routerLink]="['/home']">Home</a></span>
            <span class="navbar-link">
              <a *ngIf="!isConnected" [routerLink]="['/registration']">
                <button mat-icon-button class="buttonNavBar" aria-label="Permet de s'enregistrer ou de se connecter">
                  <mat-icon>account_circle</mat-icon>
                </button>
              </a>
              <a *ngIf="isConnected" [routerLink]="['/profile']">
                <button mat-icon-button class="buttonNavBar" aria-label="Permet d'accèder à son profil">
                  <mat-icon>account_circle</mat-icon>
                </button>
              </a>
            </span>
          </mat-toolbar>
          <div class="spacer-content"></div>
          <main>
            <router-outlet></router-outlet>
        </main>
    </mat-drawer-content>
  </mat-drawer-container>
