/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.form-row{
    display: flex;
    justify-content: space-between;

}

.container{
    padding: 0 25vw;
}

@media screen and (max-width: 1450px) {
    .form-row{
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .container{
        padding: 0;
    }
}

