<div class="container">
  <mat-card *ngFor="let topic of topics">
    <mat-card-subtitle>
        Créé le 
      {{ topic.Created.getFullYear() }}
      -
      {{ topic.Created.getMonth() }}
      -
      {{ topic.Created.getDay() }}
      à
      {{ topic.Created.getHours() }}
      :
      {{ topic.Created.getMinutes() }}
      par 
      {{ findUserName(topic.TopicUserId) }}
    </mat-card-subtitle>
    <mat-card-content>
        <a [routerLink]="['/topic', topic.TopicId]">
            <h1>{{ topic.Question }}</h1>
        </a>
      </mat-card-content>
  </mat-card>
</div>
