<div class="container">
  <p>Le back-end ne fonctionnant pas, pour tester la vision d'un utilisateur connecté et non connecté il faut changer 
    la valeur de 'isLoggedIn' dans le service connection.service.ts situé dans le dossier services de false en true.
  </p>
  <mat-card *ngFor="let topic of topics">
    <mat-card-subtitle>
        Créé le 
      {{ topic.Created.getFullYear() }}
      -
      {{ topic.Created.getMonth() }}
      -
      {{ topic.Created.getDay() }}
      à
      {{ topic.Created.getHours() }}
      :
      {{ topic.Created.getMinutes() }}
      par 
      {{ findUserName(topic.TopicUserId) }}
    </mat-card-subtitle>
    <mat-card-content>
        <a [routerLink]="['/topic', topic.TopicId]">
            <h1>{{ topic.Question }}</h1>
        </a>
      </mat-card-content>
  </mat-card>
</div>
